/* line 2, /var/www/profile/app/assets/stylesheets/main.css.scss */
.main-cntnr .main-cntnr {
  border: 1px solid white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *




 */
@font-face {
  font-family: 'f37ginger';
  src: url(/assets/f37ginger-regular-webfont-ea8a060d361608ea7ac08c942588365d8d4af5ebb635470a464da3a063dd371a.eot);
  src: url(/assets/f37ginger-regular-webfont-ea8a060d361608ea7ac08c942588365d8d4af5ebb635470a464da3a063dd371a.eot?#iefix) format("embedded-opentype"), url(/assets/f37ginger-regular-webfont-466230f1775c1be4ea6862de089b7559b8cba7bb10f7727da90fd6b05e715ccc.woff) format("woff"), url(/assets/f37ginger-regular-webfont-a4f61ec97ae07fb6e90dd1bf62b959180aae463014709c6d81712507e3111971.ttf) format("truetype"), url(/assets/f37ginger-regular-webfont-26158017835aae4bb540cd7fa8418c62a69ff384b2138013ac70bcb9bd8df1f5.svg#f37_gingerregular) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'f37ginger';
  src: url(/assets/f37ginger-light-webfont-ad0553293656c3000ea81c5ebd959167f9f8e7ef4a8b57a8335d68c6606972ee.eot);
  src: url(/assets/f37ginger-light-webfont-ad0553293656c3000ea81c5ebd959167f9f8e7ef4a8b57a8335d68c6606972ee.eot?#iefix) format("embedded-opentype"), url(/assets/f37ginger-light-webfont-b7b0e2a22d0eb92e66be4011e94487aad06e47b03c864b2d65f628dadb53bcfe.woff) format("woff"), url(/assets/f37ginger-light-webfont-38739c8dcd7728fd8d0907162b62bd64fe4b21fa62cc3b5e7b8ec41966d7b36a.ttf) format("truetype"), url(/assets/f37ginger-light-webfont-0193cbd4995f5a51f3a860ce4553c5d76d543919ac64bb387b47acc9b957e189.svg#f37_gingerlight) format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'f37ginger';
  src: url(/assets/f37ginger-thin-webfont-351fb520e2a5474b5e2f7b17e526b726af51bf36546994a1fce8c3ebcacdc1d6.eot);
  src: url(/assets/f37ginger-thin-webfont-351fb520e2a5474b5e2f7b17e526b726af51bf36546994a1fce8c3ebcacdc1d6.eot?#iefix) format("embedded-opentype"), url(/assets/f37ginger-thin-webfont-affc85218feb6d2f2fbcef1dc7f0ddc04d3d650933d3cd23d9bf5f0f0734fb25.woff) format("woff"), url(/assets/f37ginger-thin-webfont-58d635d947f62e5b2774949a46f8d3807eabf313808cbd90db361e31d9717e33.ttf) format("truetype"), url(/assets/f37ginger-thin-webfont-6f698d53a853532b9bd5a0843d6e22006ec12502c5d1202546495f17cb050248.svg#f37_gingerthin) format("svg");
  font-weight: 100;
  font-style: normal;
}
/* line 81, /var/www/profile/app/assets/stylesheets/application.css.scss */
body {
  background-color: #C8E3D2;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: 'f37ginger', 'Lato', sans-serif;
  font-weight: 100;
}
/* line 92, /var/www/profile/app/assets/stylesheets/application.css.scss */
body svg.navbar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 100.5%;
  left: 0;
  opacity: 0.9;
}
/* line 99, /var/www/profile/app/assets/stylesheets/application.css.scss */
body svg.navbar .about-link,
body svg.navbar .portfolio-link,
body svg.navbar .contact-link {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
/* line 106, /var/www/profile/app/assets/stylesheets/application.css.scss */
body svg.face {
  position: absolute;
  z-index: 0;
  top: 0;
  height: 100%;
  right: 0;
  opacity: 0.3;
}
/* line 114, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .main-cntnr {
  position: absolute;
  z-index: 0;
  top: 0%;
  width: 65%;
  min-width: 500px;
  height: 100%;
  background: #FFFFFF;
  border-right: 1px solid #A62828;
  opacity: 0.7;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 129, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .main-cntnr.collapse {
  -webkit-animation-name: collapse;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: collapse;
  -moz-animation-duration: 0.2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: collapse;
  -ms-animation-duration: 0.2s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  -o-animation-name: collapse;
  -o-animation-duration: 0.2s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  animation-name: collapse;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* line 132, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .main-cntnr.expand {
  -webkit-animation-name: expand;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: expand;
  -moz-animation-duration: 0.2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: expand;
  -ms-animation-duration: 0.2s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  -o-animation-name: expand;
  -o-animation-duration: 0.2s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  animation-name: expand;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* line 137, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .scroll-wrapper {
  position: absolute;
  z-index: 0;
  top: 0%;
  width: 65%;
  min-width: 500px;
  height: 100%;
  padding-top: 2%;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 148, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .scroll-wrapper .content {
  min-width: 280px;
  position: relative;
  margin-left: 20%;
  margin-right: auto;
  width: 70%;
  height: 100%;
}
/* line 155, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .scroll-wrapper .content .header {
  font-size: 40px;
  text-align: center;
  font-weight: 300;
}
/* line 159, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .scroll-wrapper .content .header span {
  color: #A62828;
}
/* line 163, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .scroll-wrapper .content .about {
  display: none;
}
/* line 166, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .scroll-wrapper .content .portfolio {
  display: none;
}
/* line 169, /var/www/profile/app/assets/stylesheets/application.css.scss */
body .scroll-wrapper .content .contact {
  display: none;
}

@media screen and (max-width: 895px) {
  /* line 181, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr .content .header {
    font-size: 40px;
  }
}
@media only screen and (max-device-width: 850px) and (min-device-width: 641px) {
  /* line 195, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr {
    width: 80%;
  }
  /* line 197, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr.collapse {
    -webkit-animation-name: collapse;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: collapse;
    -moz-animation-duration: 0.2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: collapse;
    -ms-animation-duration: 0.2s;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    -o-animation-name: collapse;
    -o-animation-duration: 0.2s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    animation-name: collapse;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  /* line 200, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr.expand {
    -webkit-animation-name: expand;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: expand;
    -moz-animation-duration: 0.2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: expand;
    -ms-animation-duration: 0.2s;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    -o-animation-name: expand;
    -o-animation-duration: 0.2s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    animation-name: expand;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  /* line 203, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr .content {
    width: 60%;
  }
  /* line 205, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr .content .header {
    font-weight: 300;
    font-size: 6vw;
  }
  /* line 210, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr .content .body p {
    font-size: 2.3vw;
  }
}
@media only screen and (max-device-width: 640px) {
  /* line 231, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr {
    width: 100%;
    padding-top: 4%;
  }
  /* line 235, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr.collapse {
    -webkit-animation-name: collapse;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: collapse;
    -moz-animation-duration: 0.2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: collapse;
    -ms-animation-duration: 0.2s;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    -o-animation-name: collapse;
    -o-animation-duration: 0.2s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    animation-name: collapse;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  /* line 238, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .main-cntnr.expand {
    -webkit-animation-name: expand;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: expand;
    -moz-animation-duration: 0.2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: expand;
    -ms-animation-duration: 0.2s;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    -o-animation-name: expand;
    -o-animation-duration: 0.2s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    animation-name: expand;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  /* line 243, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .scroll-wrapper {
    position: absolute;
    z-index: 0;
    top: 0%;
    width: 100%;
  }
  /* line 248, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .scroll-wrapper .content {
    width: 70%;
  }
  /* line 250, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .scroll-wrapper .content .header {
    font-size: 8vw;
  }
  /* line 253, /var/www/profile/app/assets/stylesheets/application.css.scss */
  body .scroll-wrapper .content .body {
    font-size: 4vw;
  }
}
@-webkit-keyframes collapse {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@-moz-keyframes collapse {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-o-keyframes collapse {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-ms-keyframes collapse {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes collapse {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes expand {
  0% {
    -moz-transform: translate3d(-100%, 0, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes expand {
  0% {
    -o-transform: translate3d(-100%, 0, 0);
  }
  100% {
    -o-transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes expand {
  0% {
    -ms-transform: translate3d(-100%, 0, 0);
  }
  100% {
    -ms-transform: translate3d(0, 0, 0);
  }
}
@keyframes expand {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
