<div class="header"><span>//</span>&nbsp;&nbsp;A&nbsp;&nbsp;B&nbsp;&nbsp;O&nbsp;&nbsp;U&nbsp;&nbsp;T</div>
<div class="body">
	<p>
		I'm a full stack web developer with a passion for developing clean and intuitive front end UX/UI applications.  I enjoy programming with Ruby on Rails and Javascript, and am very excited about the future of web development.  
	</p>
	<p>
		My passion for design and engineering began at an early age when I started helping my family develop prosthetic and orthotic devices.  Later I joined the U.S. Coast Guard and traveled the country on a team of Electronics buffs determained to upgrade all of the United States LORAN system stations.  
	</p>
	<p>
		With the skillsets I've learned through out my life I enjoy a number of hobbies that include manipulating microcontrollers through programming, building vacuume tube guitar amplifiers, drawing, painting, and surfing.     
	</p>
</div>
<div class="icon-cntnr">
	<div class="icon git-hub">
		<a href="https://github.com/SyntaxChris">
			<%= render 'layouts/svgs/gitHub' %>
		</a>
		<div class="text">
			GitHub
		</div>
	</div>
	<div class="icon resume">
		<%= link_to '/ChristopherLehneis.pdf', download: 'ChristopherLehneis' do %>
			<%= render 'layouts/svgs/resumeLogo' %>
		<% end %>
		<div class="text">
			Résumé
		</div>
	</div>
	<div class="icon linked-in">
		<a href="http://www.linkedin.com/pub/christopher-lehneis/29/7b4/340">
			<%= render 'layouts/svgs/linkedIn' %>
		</a>
		<div class="text">
			LinkedIn
		</div>
	</div>
</div>