<div class="header"><span>//</span>CONTACT</div>
<div class="body">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ab perspiciatis incidunt exercitationem, natus impedit inventore in ea blanditiis facere, autem architecto qui, aliquam voluptate rerum earum odit magni quod.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique optio assumenda harum possimus. Vel nemo repellendus alias adipisci, velit eius quo facere unde non! Fugit dolorem necessitatibus, beatae iure provident.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et neque nobis excepturi, ea totam asperiores consectetur, quisquam nesciunt quia assumenda repellendus amet, perferendis praesentium cum optio quos tenetur reprehenderit aliquid.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi at ex excepturi numquam dolor culpa rerum libero id, quae placeat delectus esse eveniet ea, minima architecto laboriosam, voluptatibus officiis, molestias!
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quasi voluptatibus ipsam? Sed veritatis, ea deleniti ipsam molestias, distinctio, perspiciatis aspernatur unde quod aliquid explicabo sit voluptate. Et, incidunt, expedita.
	</p>
</div>