<!-- <div class="header"><span>//</span>PORTFOLIO</div> -->
<div class="body">
	<%= link_to '/ChristopherLehneis.pdf', :download => 'ChristopherLehneis' do %>
		<%= render 'layouts/svgs/resumeLogo' %>
	<% end %>
</div>