<div class="header"><span>//</span>PORTFOLIO</div>
<div class="body">
	<%= link_to '/christopher_lehneis.pdf', :download => 'christopher_lehneis' do %>
		<%= render 'layouts/svgs/resumeLogo' %>
	<% end %>
</div>