<div class="header"><span>//</span>PORTFOLIO</div>
<div class="body">
	<%= link_to '/christopher_lehneis.pdf', :download => 'christopher_lehneis' do %>
		My Resume
		<!-- insert resume svg here -->
	<% end %>
</div>