<div class="main-cntnr"></div>
<div class="scroll-wrapper">
	<!-- <div class="content"> -->
		<div class="content about">
			<%= render 'about' %>
		</div>
		<div class="content portfolio">
			<%= render 'portfolio' %>
		</div>
		<div class="content contact">
			<%= render 'contact' %>
		</div>
	<!-- </div> -->
</div>


