<div class="main-cntnr"></div>
<div class="scroll-wrapper">
	<div class="content">
		<div class="cntnt about">
			<%= render 'about' %>
		</div>
		<div class="cntnt portfolio">
			<%= render 'portfolio' %>
		</div>
		<div class="cntnt contact">
			<%= render 'contact' %>
		</div>
	</div>
</div>


