<div class="main-cntnr">
	
		<div class="title main">
			<div class="name">
				CHRIS LEHNEIS
			</div>
			<div class="description">
				DESIGN//DEPLOY//DESTROY
			</div>
		</div>

		<div class="title about"></div>
	
		<div class="title portfolio"></div>
	
		<div class="title contact"></div>
	
</div>



