<div class="main-cntnr">
	<div class="content">
		<div class="about">
			<%= render 'about' %>
		</div>
		<div class="portfolio">
			<%= render 'portfolio' %>
		</div>
		<div class="contact">
			<%= render 'contact' %>
		</div>
	</div>
</div>



