<div class="nav-wrapper">
<!-- 	<svg 
		class="navbar" 
		xmlns="http://www.w3.org/2000/svg" 
		version="1.1" 
		x="0" 
		y="0" 
		height="700" 
		viewBox="0 0 100 700" 
		enable-background="new 0 0 100 700" 
		xml:space="preserve">
		<rect 
			fill="#A1ABA6" 
			width="78" 
			height="720"/>
		<text 
			transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 58.2725 687)" 
			fill="#FFFFFF" 
			font-family="'f37ginger'"
			font-weight="100" 
			font-size="51">CHRIS LEHNEIS</text>
		<text 
			class="about-link"
			transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 58.2725 321.3315)" 
			fill="#FFFFFF" 
			font-family="'f37ginger'"
			font-weight="100" 
			font-size="20">ABOUT</text>
		<text 
			transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 58.2725 252.4741)" 
			fill="#A62828" 
			font-family="'f37ginger'"
			font-weight="100" 
			font-size="20">//</text>
		<text 
			class="portfolio-link"
			transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 58.2725 235.0923)" 
			fill="#FFFFFF" 
			font-family="'f37ginger'"
			font-weight="100" 
			font-size="20">PORTFOLIO</text>
		<text 
			transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 58.2725 122.9819)" 
			fill="#A62828" 
			font-family="'f37ginger'"
			font-weight="100" 
			font-size="20">//</text>
		<text 
			class="contact-link"
			transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 58.2725 105.5991)" 
			fill="#FFFFFF" 
			font-family="'f37ginger'"
			font-weight="100" 
			font-size="20">CONTACT</text>
		<line 
			fill="none" 
			stroke="#A62828" 
			stroke-miterlimit="10" 
			x1="66.5" 
			y1="700" 
			x2="66.5"
			y2="0"/>
	</svg> -->


	<svg 
	 	class="navbar" 
	 	xmlns="http://www.w3.org/2000/svg" 
	 	version="1.1" 
	 	x="0" 
	 	y="0" 
	 	height="700" 
	 	viewBox="0 0 100 700" 
	 	enable-background="new 0 0 100 700" 
	 	xml:space="preserve">
	 	<rect 
	 		x="-2.5" 
	 		y="-4.2" 
	 		fill="#A1ABA6" 
	 		width="198" 
	 		height="709"/>
	 	<text 
	 		transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 52 680)" 
	 		fill="#FFFFFF" 
	 		font-family="'f37ginger'" 
	 		font-weight="100"
	 		font-size="60">CHRISTOPHER LEHNEIS</text>
	 	<line 
	 		fill="none" 
	 		stroke="#A62828" 
	 		stroke-miterlimit="10" 
	 		x1="60" 
	 		y1="704.8" 
	 		x2="60" 
	 		y2="-4.2"/>
	 	<text  
	 		class="link-group"
	 		transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 86 676.5371)">
			<tspan 
				class="contact-link"
				x="0" 
				y="0" 
				fill="#FFFFFF" 
				font-family="'f37ginger'" 
				font-weight="100"
				font-size="22">CONTACT</tspan>
			<tspan 
				x="119.4" 
				y="0" 
				fill="#A62828" 
				font-family="'f37ginger'" 
				font-weight="100"
				font-size="22">//</tspan>
			<tspan 
				class="portfolio-link"
				x="150.4" 
				y="0" 
				fill="#FFFFFF" 
				font-family="'f37ginger'" 
				font-weight="100"
				font-size="22">PORTFOLIO</tspan>
			<tspan 
				x="285.6" 
				y="0" 
				fill="#A62828" 
				font-family="'f37ginger'" 
				font-weight="100"
				font-size="22">//</tspan>
			<tspan 
				class="about-link"
				x="322.5" 
				y="0" 
				fill="#FFFFFF" 
				font-family="'f37ginger'" 
				font-weight="100"
				font-size="22">ABOUT</tspan>
		</text>
	</svg>
</div>