<div class="nav-wrapper">
	<svg 
	 	class="navbar" 
	 	xmlns="http://www.w3.org/2000/svg" 
	 	version="1.1" 
	 	x="0" 
	 	y="0" 
	 	height="700" 
	 	viewBox="0 0 100 700" 
	 	enable-background="new 0 0 100 700" 
	 	xml:space="preserve">
	 	<rect 
	 		x="-2.5" 
	 		y="-4.2" 
	 		fill="#FFFFFF" 
	 		opacity="0.4"
	 		width="95" 
	 		height="709"/>


	 	<rect
	 		class="about"
	 		x="89" 
	 		y="18" 
	 		fill="#A62828" 
	 		opacity="0.7"
	 		width="4" 
	 		height="132">

	 		<animate
	 			class="about" 
	 			attributeType="XML"
	 			attributeName="height"
	 			from="132" 
	 			to="0"
	 			dur="2s"
	 			repeatCount="1"
	 			fill="freeze"
	 			data-to="132"
	 		/>

	 	</rect>

	 	<rect
	 		class="marker portfolio" 
	 		x="89" 
	 		y="210" 
	 		fill="#A62828" 
	 		opacity="0.7"
	 		width="4" 
	 		height="0">

	 		<animate
	 			attributeType="XML"
	 			attributeName="height"
	 			from="0" 
	 			<!-- to="223" -->
	 			dur="0.7s"
	 			repeatCount="1"
	 			fill="freeze"
	 		/>

	 	</rect>

	 	<rect
	 		class="marker contact" 
	 		x="89" 
	 		y="498" 
	 		fill="#A62828" 
	 		opacity="0.7"
	 		width="4" 
	 		height="0">

	 		<animate
	 			attributeType="XML"
	 			attributeName="height"
	 			from="0" 
	 			<!-- to="185" -->
	 			dur="0.7s"
	 			repeatCount="1"
	 			fill="freeze"
	 		/>

	 	</rect>
	 	<text 
	 		transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 52 685)" 
	 		fill="#000000" 
	 		font-family="'f37ginger'" 
	 		font-weight="200"
	 		font-size="60">CHRISTOPHER LEHNEIS</text>
	 	<line 
	 		fill="none" 
	 		stroke="#A62828" 
	 		stroke-miterlimit="10" 
	 		x1="60" 
	 		y1="704.8" 
	 		x2="60" 
	 		y2="-4.2"/>
	 	<text  
	 		class="link-group"
	 		transform="matrix(-4.371139e-08 -1 1 -4.371139e-08 85 550)">
			<tspan 
				class="contact-link"
				x="-132" 
				y="0" 
				fill="#000000" 
				font-family="'f37ginger'" 
				font-weight="200"
				stroke-width="1"
				stroke-fill="white"
				font-size="22">C&nbsp;&nbsp;O&nbsp;&nbsp;N&nbsp;&nbsp;T&nbsp;&nbsp;A&nbsp;&nbsp;C&nbsp;&nbsp;T</tspan>
			<tspan 
				x="75" 
				y="0" 
				fill="#A62828" 
				font-family="'f37ginger'" 
				font-weight="200"
				font-size="22">//</tspan>
			<tspan 
				class="portfolio-link"
				x="120" 
				y="0" 
				fill="#000000" 
				font-family="'f37ginger'" 
				font-weight="200"
				font-size="22">P&nbsp;&nbsp;O&nbsp;&nbsp;R&nbsp;&nbsp;T&nbsp;&nbsp;F&nbsp;&nbsp;O&nbsp;&nbsp;L&nbsp;&nbsp;I&nbsp;&nbsp;O</tspan>
			<tspan 
				x="364" 
				y="0" 
				fill="#A62828" 
				font-family="'f37ginger'" 
				font-weight="200"
				font-size="22">//</tspan>
			<tspan 
				class="about-link"
				x="405" 
				y="0" 
				fill="#000000" 
				font-family="'f37ginger'" 
				font-weight="200"
				font-size="22">A&nbsp;&nbsp;B&nbsp;&nbsp;O&nbsp;&nbsp;U&nbsp;&nbsp;T</tspan>
		</text>

<!-- 		<line 
	 		fill="none" 
	 		stroke="#A62828" 
	 		stroke-miterlimit="10" 
	 		x1="92" 
	 		y1="704.8" 
	 		x2="92" 
	 		y2="-4.2"/> -->
	</svg>
</div>