/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'main'
 *= require 'nav_bar'
 *= require 'welcome'
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'crispy_regular';
    src: font-url('f37ginger-regular-webfont.eot');
    src: font-url('f37ginger-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('f37ginger-regular-webfont.woff') format('woff'),
         font-url('f37ginger-regular-webfont.ttf') format('truetype'),
         font-url('f37ginger-regular-webfont.svg#f37_gingerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crispy_thin';
    src: font-url('f37ginger-thin-webfont.eot');
    src: font-url('f37ginger-thin-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('f37ginger-thin-webfont.woff') format('woff'),
         font-url('f37ginger-thin-webfont.ttf') format('truetype'),
         font-url('f37ginger-thin-webfont.svg#f37_gingerthin') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
 	background-color: #C2FFD9;
 	padding: 0;
 	margin: 0;
 	width: 100%;
 	height: 100%;
 	overflow: hidden;
 	font-family: 'crispy_thin', 'Lato', sans-serif;
	svg.face{
		position: absolute;
		z-index: 1;
		height: 100%;
		right:0;
		// opacity: 0.8;
	}
	.nav-cntnr{
		position: absolute;
		z-index: 5;
		left: 0;
		top:0;
		width: 150px;
		height: 100%;
	  	opacity: 0.95;
		background: #8C9891;
		// border: 1px solid blue;
	  	.nav-bg{
		    svg{
				position: absolute;
				left: 0;
				height: 100%;
				border-right: 1px solid #A62828;
				opacity: 1;
		    }
		}
	}
	.main-cntnr{
		position: absolute;
		z-index: 2;
		left: 150px;
		top: 0%;
		width: 62%;
		height: 100%;
		background: white;
		border-right: 1px solid #A62828;
		opacity: 0.8;
		overflow: hidden;
		overflow-y: scroll;
		.header{
			font-size: 40px;
			text-align: center;
			span{
				color: #A62828
			}
		}
		.body{
			font-size: 16px;
			padding: 0 5% 0 5%;
		}
	}
 }

// iPhone 5s and down
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	body{
		.nav-cntnr{
			position: absolute;
			z-index: 5;
			left: 0;
			top:0;
			width: 250px;
			height: 100%;
		  	opacity: 0.9;
			background: #8C9891;
		  	.nav-bg{
			    svg{
					position: absolute;
					left: 0;
					height: 100%;
					border-right: 1px solid #A62828;
					opacity: 0.7;
			    }
			}
		}
		.main-cntnr{
			position: absolute;
			z-index: 2;
			left: 250px;
			top: 0%;
			width: 75%;
			height: 100%;
			background: white;
			border-right: 1px solid #A62828;
			opacity: 0.9;
			overflow: hidden;
			overflow-y: scroll;
			.header{
				font-size: 70px;
				text-align: center;
				span{
					color: #A62828
				}
			}
			.body{
				padding: 0 5% 0 5%;
				p{
					font-size: 3vw;	
				}
			}
		}
	}
}



